JAdventureGameEditor.py
json/profiles/*
!json/profiles/test
json/locations.json

*.eml

# Package Files #
*.jar
*.war
*.ear
build/jar/*.jar

# Directories #
bin/
.*/

# IDE Files #
*.iml
.project
.classpath
.idea

!lib/*.jar
/nbproject/private/
/nbbuild/


# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class
/target/
