JAdventureGameEditor.py
json/profiles/*
json/locations.json
!json/profiles/test

*.eml

# Package Files #
*.jar
*.war
*.ear
build/jar/*.jar
dependency-reduced-pom.xml

# Directories #
bin/
.*/
/lib

# IDE Files #
*.iml
.project
.classpath
.idea

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class
/target/

# Log files #
*.log
